.containerTextUser {
  background-color: #a2deeb;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  width: fit-content;
  float: left;
}
.containerTextBot {
  background-color: #a2deeb;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;
  width: fit-content;
  float: right;
}
.user {
  color: red;
  font-weight: bold;
}
.message {
}
